state/target_pca.pkl
state/input_pca.pkl
state/xgb_output_*
state/competition_support_set.zip
state/competition
state/competition_support_set
state/competition_support_set_ext
state/competition_support_set*
state/wandb/
state/wandb_logs
state/.venv/
state/assets/
genes_nucleotides.fasta
genes_proteins.fasta
pert_genes.pkl